<a href="https://colab.research.google.com/github/JoeHasell/test/blob/main/Fiona's_maternal_mortality_notebook_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
R.version.string

print(installed.packages())

Some new text

In [ ]:
install.packages("janitor")

library(readxl)
library(dplyr)
library(janitor)
library(tidyr)
library(ggplot2)
date <- Sys.Date()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘snakecase’



Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

Download data from Gapminder and save it locally

In [ ]:
dir.create("data/input", recursive = TRUE)
download.file('https://www.gapminder.org/documentation/documentation/gapdata010.xls', paste0('data/input/',date,'_gapminder_data.xls'))

Read in the Gapminder data

In [ ]:

df <- read_xls(paste0('data/input/',date,'_gapminder_data.xls'), col_names = TRUE)
df <- df[-(1:16),]
head(df)

Warning message:
“Expecting logical in M1150 / R1150C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1151 / R1151C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1152 / R1152C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1153 / R1153C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1154 / R1154C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1155 / R1155C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1156 / R1156C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1157 / R1157C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1158 / R1158C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1159 / R1159C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1160 / R1160C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1161 / R1161C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1162 / R1162C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1163 / R1163C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1164 / R1164C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1165 / R1165C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1166 / R1166C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1167 / R1167C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1168 / R1168C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1169 / R1169C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1170 / R1170C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1171 / R1171C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1172 / R1172C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1173 / R1173C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1174 / R1174C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1175 / R1175C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1176 / R1176C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1177 / R1177C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1178 / R1178C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1179 / R1179C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1180 / R1180C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1181 / R1181C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1182 / R1182C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1183 / R1183C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1184 / R1184C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1185 / R1185C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1186 / R1186C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1187 / R1187C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1188 / R1188C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1189 / R1189C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1190 / R1190C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1191 / R1191C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1192 / R1192C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1193 / R1193C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1194 / R1194C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1195 / R1195C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1196 / R1196C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1197 / R1197C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1198 / R1198C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1199 / R1199C13: got 'repro.age 15-45'”
Warning message:
“Expecting logical in M1200 / R1200C13: got 'data an reroductive age for period 15-49'”
New names:
• `` -> `...8`

  Country   year      MMR                Live Births Maternal deaths
1 Australia 1871-1980 643                NA          NA
2 Australia 1881-1990 592                NA          NA
3 Australia 1891-1900 560                NA          NA
4 Australia 1901-5    609                NA          NA
5 Australia 1906      538                107890      NA
6 Australia 1907      556.42654535238842 110347      614
  Women reproductive age (15-49) MM-rate ...8 Skilled attendance %
1     NA                         NA      NA   NA
2     NA                         NA      NA   NA
3     NA                         NA      NA   NA
4 940332                          0      NA   NA
5     NA                         NA      NA   NA
6     NA                         NA      NA   NA
  Source MMR, maternal death and Live birth
1 Loudon, Death in Childbirth,1992
2 Loudon, Death in Childbirth, 1992
3 Loudon, Death in Childbirth, 1992
4 Loudon, Death in Childbirth, 1992
5 Loudon, Death in Childbirth, 1992
6 MD: Australian Institute of Health and Welfare (AIHW) LB and women reproductive age http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/3105.0.65.0012006?OpenDocument
  Comment
1 only State of Virginia
2 only State of Virginia
3 only State of Virginia
4 only State of Virginia
5 only State of Virginia
6 NA
  Source women reproductive age
1 NA
2 NA
3 NA
4 Mitchell, B. International Historical Statistics. Europe 1750-2000. Fifth Edition, Palgrave, Maximillan, 2003
5 NA
6 NA
  Comments
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

The first three year ranges seem to be wrong as in another source (https://docs.google.com/spreadsheets/u/0/d/14ZtQy9kd0pMRKWg_zKsTg3qKHoGtflj-Ekal9gIPZ4A/pub?gid=1#) they cover only 10 years rather than 110. I will replace them manually here with the middle of each decade, as is used in the other data from the same source.

There are also two cases where the year for Finland has been entered wrongly three times, there are two 1772s, 1775s & 1967s, the second of each should be 1872, 1875 and 1967 respectively.

There are also two errors for New Zealand, and one error for both Swecen and the US.

In [ ]:
df$year[1:3] <- c(1875, 1885,1895)
df['year'][df$year == '1772' & df$Country == 'Finland' & df$`Maternal deaths`== 487,] <- '1872'
df['year'][df$year == '1775' & df$Country == 'Finland' & df$`Maternal deaths` == 629,] <- '1875'
df['year'][df$year == '1967' & df$Country == 'Finland' & df$`Maternal deaths` == 77,] <- '1957'
df['year'][df$year == '1967' & df$Country == 'Sweden' & df$`Maternal deaths` == 39,] <- '1957'
df['year'][df$year == '1967' & df$Country == 'United States' & df$`Maternal deaths` == 1766.28,] <- '1957'
df['year'][df$year =='1989-02'& df$Country == 'New Zealand',] <- '1889-02'
#Dropping an erroneous row for NZ in 1950 - there are two values but the first is incorrect. You can using the maternal deaths and live births columns. 
df <- df[-which(df$year == '1950' & df$Country == 'New Zealand' & df$MMR == 90),]

For some rows a range of years is given for a particular maternal mortality rate. We use this function to find the mid-value of years given.

In [ ]:
mid_year <- function(year) {
  if(grepl("-", year)){
    year_split <-  unlist(strsplit(year, split = "-"))
    year_begin <- year_split[1]
    year_end_len <- nchar(year_split[2])
    year_end_pref <- 4 - year_end_len
    
    if (year_end_pref > 0) {
      year_pref <- substr(year_begin, 1, year_end_pref)
      year_end <- as.numeric(paste(c(year_pref, year_split[2]),collapse = ""))
      year_out <- round(mean(c(as.numeric(year_begin), year_end)))
    }else{
      year_out <- round(mean(as.numeric(c(year_begin,year_split[2]))))
    }
  }else{
    year_out <- year
  }
  
  return(year_out)
}
year_out_all <- unlist(lapply(df$year, mid_year))
df$mid_year <- as.numeric(year_out_all)

Let's check the mid-year estimates have worked as expected:

In [ ]:
df %>% select(year, mid_year) %>% filter(grepl("-",year)) %>% distinct()

   year      mid_year
1  1901-5    1903
2  1856-60   1858
3  1871-80   1876
4  1881-90   1886
5  1891-1900 1896
6  1876-1880 1878
7  1881-1885 1883
8  1886-1890 1888
9  1891-1895 1893
10 1896-1900 1898
11 1901-1905 1903
12 1872-6    1874
13 1873-7    1875
14 1874-8    1876
15 1875-9    1877
16 1876-80   1878
17 1877-81   1879
18 1878-82   1880
19 1879-83   1881
20 1880-4    1882
21 1881-5    1883
22 1882-6    1884
23 1883-7    1885
24 1884-8    1886
25 1885-9    1887
26 1886-90   1888
27 1887-91   1889
28 1888-92   1890
29 1889-93   1891
30 1890-4    1892
31 1891-5    1893
32 1892-6    1894
33 1893-7    1895
34 1894-8    1896
35 1897-01   1849
36 1889-02   1846
37 1899-03   1851
38 1900-4    1902
39 1902-6    1904
40 1903-7    1905
41 1904-8    1906
42 1906-9    1908
43 1906-10   1908
44 1907-11   1909

Keeping only the columns we want to take forward.

In [ ]:
df <- df %>% 
  select(entity = Country, year = mid_year, maternal_mortality_rate = MMR)